<div class="container">
    <ng-container *ngIf="trainings">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>sous-total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let training of trainings">
                    <td>{{training.name}}</td>
                    <td>{{training.description}}</td>
                    <td>{{training.quantity}}</td>
                    <td>{{training.price}}</td>
                    <td>{{training.quantity * training.price}}</td>
                </tr>
            </tbody>
        </table>
        <p>Total = {{totalCost()}}</p>
    </ng-container>
</div>