<div class="container">
    <ng-container *ngIf="listTrainings else loading">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>quantité</th>
                    <th>Panier</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let training of listTrainings">
                    <td>{{training.id}}</td>
                    <td>{{training.name}}</td>
                    <td>{{training.description}}</td>
                    <td>{{training.price}}</td>
                    <td><input type="number" name="quantity" style="width:60px;" [(ngModel)]="training.quantity" min="0"></td>
                    <td><a class="btn btn-primary" (click)="onAddToCart(training)">Ajouter</a></td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-template #loading>
        <img src="assets/img/loading.png" alt="squelette devant ordinateur">
        <p>Chargement en cours, veuillez patienter</p>
    </ng-template>
</div>